{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category: {{category}}</h2>

    {% for auction, price in auctions %}
        <hr>    
        <h4><a href="{% url 'listing' auction.id %}">{{auction.title}}</a></h4>
        <!-- auctions is a list of tuples...the first item is the auction object, the second
            is the price (calculated within the python code of the index view) -->
        
        <b>Current Price:</b> ${{price|floatformat:2}} <br>
        <br>
        {{auction.description}}
    {% endfor %}

{% endblock %}