{% extends 'auctions/layout.html' %}

{% block body %}
    {% if auction.0.status == "C" %}
    <i>This listing is closed</i><br>
        {% if auction.0.winner == user %}    
        <b>You have won this auction!</b><br>
        {% endif %}
    {% endif %}
<h2>{{auction.0.title}}</h2>
<br>
<br>
{{auction.0.description}}
<br>
<!--auction is a tuple with (auction object, current price)
with current price being calculated using python logic in the view-->
<b>Current Price:</b> ${{auction.1|floatformat:2}}<br>
<hr>
{% if not auction.0 in watchlist %}
    <i>You're not watching this item</i><br>
    <b>Watch This Item: </b>
    <form action="{% url 'add_watchlist' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="auction" value={{auction.0.id}}>
        <input type="submit">
    </form>
{% else %}
    <i>You are watching this item</i>
{% endif %}

<hr>
{% if user.is_authenticated and auction.0.status == "A" %}
    {% if bid_error %}
        <br><i>Please bid higher than current price</i><br><br>
    {% endif %}
    <b>Bid on this item:</b><br>
    <form action="{% url 'bid' %}" method="post">
        {% csrf_token %}
        {{ newbid }}
        <input type="hidden" name="auction" value={{auction.0.id}}>
        <input type="submit">
    </form>    
{% endif %}


<hr>
<!--Loop through comments for this auction and display them here-->
<h3>Comments</h3>
{% for comment in comments %}
<b>{{comment.user}} says:</b><br>
{{comment.text}}
<hr>
{% endfor %}

{% if user.is_authenticated and auction.0.status == "A" %}
    <b>Add a comment:</b><br>
    <form action="{% url 'comment' %}" method="post">
        {% csrf_token %}
        {{ newcomment }}
        <input type="hidden" name="auction" value={{auction.0.id}}>
        <input type="submit">
    </form>    
{% endif %}



{% if user.is_authenticated and auction.0.status == "A" and user == auction.0.user %}
<hr>
        <b>Close Listing</b><br>
        This is your listing. You may close it at any time.    
        <form action="{% url 'close' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="auction" value={{auction.0.id}}>
            <input type="submit">
{% endif %}




{% endblock %}