{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <h1>Edit Entry - {{title}}</h1>

    <form action="{% url 'edit_page_return' title={{title}} content={{content}} ">
        {% csrf_token %}
        <!-- Figured it out! See the views.py file edit view. Used an initial value assignment
            that was passed as part of the context to the render() call. -->
        {{ editentry }}

        <button type="submit">Save Entry</button>
    </form>

{% endblock %}