{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <h1>Edit Entry - {{title}}</h1>

    <!-- Trying to just submit this back to the edit page-->
    <form action="{% url 'confirm' %}" method="post">
        {% csrf_token %}
        <!-- Figured it out! See the views.py file edit view. Used an initial value assignment
            that was passed as part of the context to the render() call. -->
        {{ editentry }}

        <button type="submit">Save Entry</button>
    </form>

{% endblock %}