{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block nav %}
<!-- Clicking the Edit Page button sends user to Edit view, with the current page
title and content -->
<form action="{% url 'edit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="title" value = {{title}}>
    <input type="hidden" name="content" value = {{content}}>
    <button type="submit">Edit Page</button>
</form>
{% endblock %}

{% block body %}
    {% load md2 %}
    {{content|markdown}}
{% endblock %}